    <div class="well hoverwell thumbnail" [hidden]="!event.name">       
       <div>Name:   {{event?.name }}</div>
       <div *ngIf="event.location">Location:  {{event?.location?.address }}, {{event?.location?.city }}, {{event?.location?.country}} </div>

       <div [ngSwitch]="event?.start">
           Start: {{event?.start}}
                <span *ngSwitchCase="'08:00'">(Early Start)</span>
                <span *ngSwitchCase="'18:00'">(Late Start)</span>
                <span *ngSwitchDefault>(Normal Start)</span>
       </div>
        
    </div>
